.footer {
    background: #262626;
    color: #666;
    font-size: 5rem;
    height: 100px;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    align-items: center;
    position: sticky;
    z-index: -2;
    bottom: 0;
}

.test {
    background: #fff;
    padding: 50px;
    font-size: 20px;
}
