.header {
    position: sticky;
    top: 0;
    height: 50px;
    background: #000;
    padding: 0 100px;

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__nav {
        }

        &__logo {
            color: #fff;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 800;
        }

        &__list {
            display: flex;
            line-height: 50px;
            list-style: none;
        }

        &__item {
            cursor: pointer;
            display: inline-block;
        }

        &__link {
            position: relative;

            color: #fff;
            text-decoration: none;
            margin-right: 25px;

            &::after {
                content: '';
                position: absolute;
                top: 35px;
                display: block;
                background: #fff;
                width: 0;
                height: 2px;
                transition: width 0.3s;
            }

            &:hover::after {
                width: 100%;
                transition: width 0.3s;
            }
        }
    }
}
