.authorization {
    height: calc(100vh - 50px);
    background: url('../../img/auth-russia.jpg');
    background-size: cover;
    color: #fff;

    .auth {
        width: 850px;
        height: 400px;
        @include center;
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
        transition: 0.5s ease;

        &:hover {
            box-shadow: 0px 0px 40px 16px rgba(18, 18, 18, 1);
        }
    }
}
