.input-btn {
    margin-top: 20px;
    border: none;
    box-shadow: none;
    padding: 10px 25px;
    background: #333;
    color: #fff;
    font-size: 16px;

    &:hover {
        background: #00b0ff;
        cursor: pointer;
    }
}
