.input {
    margin: 25px 0 0;
    display: block;
    width: 270px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #999;
    border-radius: 7px;
    padding: 0 8px;

    &__field {
        position: absolute;
        background: transparent;
        border: none;
        box-shadow: none;
        outline: none;
        font-size: 20px;
        height: 30px;
        color: #333;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        color: #333;
        font-size: 20px;
        display: block;
        transition: 0.5s;
        padding-left: 6px;
    }

    &__field:focus + &__label,
    &__field:not(:placeholder-shown) + &__label {
        transform: translateY(-15px);
        color: rgb(77, 144, 254);
        background: white;
        font-size: 12px;
        padding: 2px 6px;
    }

    &__stroke {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        background: #555;
        width: 100%;
        height: 2px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #00b0ff;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s ease-in-out;
        }
    }

    &__field:focus ~ &__stroke::before {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }
}
