.platform {
    height: calc(100vh - 50px);
    background-color: darkgray;
    display: grid;

    .account {
        &__avatar {
            height: 250px;
            width: 250px;
        }
    }

    .pool {
        border: 2px solid black;
        width: 250px;
        height: 270px;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        &__list {
        }

        &__item {
            border-bottom: 1px solid green;
            font-size: 20px;
        }
    }
}
