.register {
    display: inline-block;
    width: 500px;
    height: 100%;
    position: relative;
    box-shadow: 0 4px 10px -1px rgba(19, 35, 47, 0.3);

    &__heading {
        position: absolute;
        top: 80px;
        left: 100px;
    }

    &__list {
        display: flex;
        @include center;
    }

    &__option {
        position: relative;
        width: 80px;
        height: 80px;
        margin: 0 5px;
        border-radius: 50%;

        &:hover .fas {
            opacity: 1;
            transform: scale(1.1);
        }
    }

    &__link {
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        text-align: center;
        line-height: 80px;
        color: #fff;
        font-size: 36px;
        border-radius: 50%;

        .fas {
            transition: 0.5s;
            transform: scale(0.8);
            opacity: 0.2;
        }
    }

    &__watcher {
        background: linear-gradient(45deg, #89ff00, #00bcd4);

        &:hover {
            box-shadow: 0 0 100px #89ff00;
        }

        // header + reveal effect
        &:hover .watcher__header {
            display: inline-block;
            position: relative;
            top: -80px;
            left: 220px;
        }

        .watcher__header::after {
            background: #89ff00;
        }

        // text + reveal effect
        .watcher__text {
            display: none;
            position: relative;
            width: 280px;
            font-weight: bold;

            &::after,
            &::before {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                width: 0;
                height: 100%;
            }

            &::after {
                animation: reveal-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.9s
                    forwards;
                background: #5e6b4e;
            }

            &::before {
                animation: reveal-block 1.3s cubic-bezier(0.19, 1, 0.22, 1) 1.2s
                    forwards;
                background: red;
            }
        }

        &:hover .watcher__text {
            display: inline-block;
            font-size: 20px;
            position: relative;
            top: 70px;
            left: 30px;
        }

        &:hover .watcher__text--hidden {
            opacity: 0;
            animation: appear-text 0.0001s linear 1.9s forwards;
        }
    }

    &__builder {
        background: linear-gradient(45deg, #ff0000, #ffc107);
        &:hover {
            box-shadow: 0 0 100px #ffc107;
        }

        &:hover .builder__header {
            display: inline-block;
            position: relative;
            top: -80px;
            left: 130px;
        }

        .builder__header::after {
            background: #ffc107;
        }

        .builder__text {
            display: none;
            font-size: 20px;
            width: 280px;
            font-weight: bold;

            &::after,
            &::before {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                width: 0;
                height: 100%;
            }

            &::after {
                animation: reveal-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.9s
                    forwards;
                background: #5e6b4e;
            }

            &::before {
                animation: reveal-block 1.3s cubic-bezier(0.19, 1, 0.22, 1) 1.2s
                    forwards;
                background: red;
            }
        }

        &:hover .builder__text {
            display: inline-block;
            position: relative;
            top: 70px;
            left: -50px;
        }

        &:hover .builder__text--hidden {
            opacity: 0;
            animation: appear-text 0.0001s linear 1.9s forwards;
        }
    }

    &__servicer {
        background: linear-gradient(45deg, #ff0057, #e64a19);

        &:hover {
            box-shadow: 0 0 100px #e64a19;
        }

        &:hover .servicer__header {
            display: inline-block;
            position: relative;
            top: -80px;
            left: 40px;
        }

        .servicer__header::after {
            background: #e91e63;
        }

        .servicer__text {
            display: none;
            font-size: 20px;
            width: 280px;
            font-weight: bold;

            &::after,
            &::before {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                width: 0;
                height: 100%;
            }

            &::after {
                animation: reveal-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.9s
                    forwards;
                background: #5e6b4e;
            }

            &::before {
                animation: reveal-block 1.3s cubic-bezier(0.19, 1, 0.22, 1) 1.2s
                    forwards;
                background: red;
            }
        }

        &:hover .servicer__text {
            display: inline-block;
            position: relative;
            top: 70px;
            left: -150px;
        }

        &:hover .servicer__text--hidden {
            opacity: 0;
            animation: appear-text 0.0001s linear 1.9s forwards;
        }
    }

    &__provider {
        background: linear-gradient(45deg, #e91e63, #5d02ff);
        &:hover {
            box-shadow: 0 0 100px #5d02ff;
        }

        &:hover .provider__header {
            display: inline-block;
            position: relative;
            top: -80px;
            left: -50px;
        }

        .provider__header::after {
            background: #5d02ff;
        }

        .provider__text {
            display: none;
            font-size: 20px;
            width: 280px;
            font-weight: bold;

            &::after,
            &::before {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                width: 0;
                height: 100%;
            }

            &::after {
                animation: reveal-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.9s
                    forwards;
                background: #5e6b4e;
            }

            &::before {
                animation: reveal-block 1.3s cubic-bezier(0.19, 1, 0.22, 1) 1.2s
                    forwards;
                background: red;
            }
        }

        &:hover .provider__text {
            display: inline-block;
            position: relative;
            top: 70px;
            left: -240px;
        }

        &:hover .provider__text--hidden {
            opacity: 0;
            animation: appear-text 0.0001s linear 1.9s forwards;
        }
    }

    .provider::after {
        background: #5d02ff;
    }

    .position {
        display: none;
        font-size: 32px;

        &::after {
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            width: 0;
            height: 100%;
        }
    }

    .vocation {
        height: 0;
    }
}
