.team {
    background: #333;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 120px 100px;

    .teammate {
        position: relative;
        border: 1px solid rgba(255, 255, 255, 0.1);

        &:hover::before {
            transition: 1s;
            content: '';
            position: absolute;
            top: -100px;
            left: 100px;
            width: 200px;
            height: 200px;
            animation: slide-photo 3.2s ease-in-out;
        }

        &__name {
            color: #e3e3e3;
            font-size: 22px;
            padding: 15px 20px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 14px;
                left: -2px;
                width: 3px;
                height: 30px;
                display: block;
                background: #fff;
            }
        }

        &__position {
            color: grey;
            font-size: 20px;
            padding: 0 20px;
            margin-bottom: 80px;
        }

        &__one:hover::before {
            background: url('../../img/rustem.jpg');
            background-size: cover;
        }
        &__two:hover::before {
            background: url('../../img/bulat.jpg');
            background-size: cover;
        }
        &__three:hover::before {
            background: url('../../img/vadim.jpg');
            background-size: cover;
        }
        &__four:hover::before {
            background: url('../../img/rail.jpg');
            background-size: cover;
        }

        @include slide-photo-animation;
    }
}
