@mixin appear-text-animation {
    @keyframes appear-text {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@mixin reveal-block-animation {
    @keyframes reveal-block {
        0% {
            left: 0;
            width: 0;
        }
        50% {
            left: 0;
            width: 100%;
        }
        100% {
            left: 100%;
            width: 0%;
        }
    }
}

@mixin grain-animation {
    @keyframes grain {
        0%,
        100% {
            transform: translate(0, 0);
        }
        10% {
            transform: translate(-5%, -10%);
        }
        20% {
            transform: translate(-15%, 5%);
        }
        30% {
            transform: translate(7%, -25%);
        }
        40% {
            transform: translate(-5%, 25%);
        }
        50% {
            transform: translate(-15%, 10%);
        }
        60% {
            transform: translate(15%, 0);
        }
        70% {
            transform: translate(0, 15%);
        }
        80% {
            transform: translate(3%, 35%);
        }
        90% {
            transform: translate(-10%, 10%);
        }
    }
}

@mixin slide-photo-animation {
    @keyframes slide-photo {
        0% {
            opacity: 0;
            left: 70px;
        }

        20% {
            opacity: 1;
            left: 100px;
        }

        100% {
            opacity: 1;
            left: 100px;
        }
    }
}
