*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

input::-webkit-calendar-picker-indicator,
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
    display: none;
}
