.heading {
    .headline {
        &--main {
            display: block;
            font-size: 44px;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);

            .text {
                opacity: 0;
                animation: appear-text 0.0001s linear 1.4s forwards;
            }

            &::after {
                background: #00f0b5;
                animation: reveal-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1s
                    forwards;
            }
        }

        &--sub {
            display: block;
            font-size: 22px;
            position: absolute;
            top: 50%;
            left: 55%;
            transform: translate(-50%, -50%);

            .text {
                opacity: 0;
                animation: appear-text 0.0001s linear 2s forwards;
            }

            &::after {
                background: #5e239d;
                animation: reveal-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1.4s
                    forwards;
            }
        }

        &::after {
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            width: 0;
            height: 100%;
        }
    }

    @include appear-text-animation;
    @include reveal-block-animation;
}
